Load Data

In [3]:
import pandas as pd

df = pd.read_csv("../data/raw data/train.csv")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

Convert Order Date to datetime

In [4]:
df["Order Date"] = pd.to_datetime(df["Order Date"], dayfirst=True)

In [5]:
df = df[["Order Date", "Sales", "Category", "Region"]]

In [6]:
df.head()

  Order Date     Sales         Category Region
0 2017-11-08  261.9600        Furniture  South
1 2017-11-08  731.9400        Furniture  South
2 2017-06-12   14.6200  Office Supplies   West
3 2016-10-11  957.5775        Furniture  South
4 2016-10-11   22.3680  Office Supplies  South

Checking missing values

In [7]:
df.isnull().sum()

Order Date    0
Sales         0
Category      0
Region        0
dtype: int64

Create Monthly Sales Time Series

In [8]:
# Set date as index
df.set_index("Order Date", inplace=True)

# Monthly total sales
monthly_sales = df.resample("M").sum()

monthly_sales.head()

C:\Users\Annie Valentina\AppData\Local\Temp\ipykernel_17680\3520213903.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_sales = df.resample("M").sum()

,Sales,Category,Region
Order Date,,,
2015-01-31,14205.707,Office SuppliesOffice SuppliesOffice SuppliesO...,CentralCentralCentralCentralEastWestSouthSouth...
2015-02-28,4519.892,TechnologyOffice SuppliesOffice SuppliesTechno...,CentralWestSouthSouthWestWestWestWestWestSouth...
2015-03-31,55205.797,FurnitureTechnologyFurnitureOffice SuppliesOff...,WestEastCentralCentralCentralCentralCentralCen...
2015-04-30,27906.855,Office SuppliesOffice SuppliesOffice SuppliesO...,WestWestEastEastSouthSouthSouthCentralCentralS...
2015-05-31,23644.303,Office SuppliesTechnologyOffice SuppliesOffice...,EastSouthCentralEastEastCentralEastCentralCent...

Save Cleaned Data

In [11]:
monthly_sales.to_csv("../data/processed data/monthly_sales.csv")